/*
Team Members: Inigo Abuel, Luxsan Jeyasingam, Robelene Icalina
Date: 31 March 2024
Section: 313
CSS styles for the index page

Code Author(s): 

CSS - Robelene Icalina
*/
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
}

.nav-top{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #ff5400;
    align-content: center;
    align-items: center;
    padding: 10px 0px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.logo img {
    height: 40px;
}

.search {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
}

.search-box {
    height: 40px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.search button {
    height: 40px;
    width: 50px;
    background-color: #96D9EA;
    border: none;
}

.icon-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;   
}

.icon-group img {
    height: 25px;
    margin: 0px 10px;
}

.icon-group img:hover {
    height: 30px;
}

#search-icon {
    display: none;
}


.nav-bottom .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #FFBD59;
    align-items: center;
    padding: 10px
}

.navbar li {
    padding: 0px 20px;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    color: white;
}

.landing-page {
    background: #f5f5f5;
    padding-top: 90px;
}

.landing-video video {
    object-fit: cover; /*Ensure video covers the entire container */
    width: 100%;
    height: 95vh; /* Fill the entire container */
}

.categories{
    display:flex;
    font-size: 20px;
    justify-content: center;
}

.cat-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-img{
    display: flex;
    min-width: 250px;
    margin: 30px;
    justify-content: center;
}

.category-img img{
    height: 500px;
    border-radius: 20px;
}

.cat-img-container .category-img img:hover {
    box-shadow: 20px 20px 30px rgba(0,0,0,0.6);
    transition: 0.2s ease;
    border-radius: 20px;
    cursor: pointer;
}

.categories-container h1 {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.feature-product {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 5px;
}

h3 {
    font-size: 15px;
}

.feature-product .product {
    width: 20%;
    min-width: 250px;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 25px;
    display: flex;
    flex-direction: column;
}

.feature-product .product:hover {
    box-shadow: 20px 20px 30px rgba(0,0,0,0.6);
    transition: 0.2s ease;
}

.feature-product .product img {
    width: 100%;
    border-radius: 20px;
}

.feature-product .product .desc {
    text-align: start;
    padding: 10px 0px;
}

.feature-product .product .desc span {
    color: gray;
    font-size: 12px;
}

.hero-banner{
    display: flex;
    width: 100%;
    padding: 50px 100px;
}

.hero-banner img{
    width: 100%;
    border-radius: 25px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    background-color: #96D9EA;
    width: 100%;
    padding: 50px 150px;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.footer-categories, .footer-custsvc, .footer-company {
    width: 200px;
}

.footer-container .footer-categories a, .footer-container .footer-custsvc a, 
    .footer-container .footer-company a {
    color: black;
}

.footer-container .footer-categories li, .footer-container .footer-custsvc li, 
    .footer-container .footer-company li {
    margin-top: 10px;
}

.footer-container .footer-custsvc {
    margin: 0px 50px;
}

.newsletter {
    width: 100%;
    justify-content: center;
}

.newsletter .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #96D9EA;
    text-align: center;
    width: 100%;
    
}

.newsletter .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.form .input-container {
    display: flex;
}

.form .input-container input {
    height: 50px;
    padding: 10px;
    font-size: 16px;
    width: 500px;
    border: none;
}

.newsletter .form button {
    width: 100px;
    height: 50px;
    background: #FFBD59;
    border: none;
    font-size: 16px;
}

footer p{
    background-color: #96D9EA;
    padding: 10px 10px 10px 150px;
}

@media (max-width: 1024px) {
    .search-box, .hero-banner, .hero-banner img, .search button {
        display: none;
    }

    #search-icon {
        display: inline;
    }

    .logo img {
        height: 30px;
    }

    .icon-group img {
        height: 20px;
    } 

    .landing-page video {
        width: 100vw;
        height: auto;
    }

    .category-img img{
        height: 350px;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
        padding: 30px 20px;
    }

    .footer-links{
        justify-content: center;
    }

    .newsletter .content{
        margin: 50px 0px;
    }

    .form .input-container input{
        width: 150px;
    }

    footer p {
        text-align: center;
        padding: 10px 0px;
    }
}