/*
Team Members: Inigo Abuel, Luxsan Jeyasingam, Robelene Icalina
Date: 31 March 2024
Section: 313
CSS styles for the sellItem page

Code Author(s): 

CSS - Inigo Abuel
*/

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
}

/* page container */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
}

/* styling for header */
.header-logo-only{
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: #ff5400;
    height: 80px;
    padding-left: 50px;
}

img{
    display:flex;
    height: 40px;
}

/* main container */
main{
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    justify-content: center;
    background: #F5F5F5;
    /* background-image:linear-gradient(rgba(0,0,0,.7), #FFBD59), url('/assignment2/0-assets/irl-images/pexels-max-fischer-5868272.jpg'); */
    background-size: cover;
    background-position: bottom;
}

/* title */
h1 {
    font-weight: 900;
    text-align: center;
}

/* form container */
form{
    display: flex;
    flex-direction: column;
    width:40%;
    padding: 50px;
    margin: 50px;
    background: #FFFFFF;
    border-radius: 6px;
}

/* styling for form*/
input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 3px;
}

#description {
    width: 100%;
}

.form-field{
    margin-top:30px;
}

.button{
    width: 100%;
    background: #00BFFF;
    border: none;
    border-radius: 3px;
    padding:12px;
    margin-top:40px;
    font-size: 15px;
}

.button:hover {
    background: #96D9EA;
}

.link {
    text-decoration: none;
    font-size:14px;
    color: #0e84dd;
}

p {
    font-size:14px;
}

.link:hover {
    text-decoration: underline;
}

p{
    margin-top: 20px;
    text-align: center;
}

/* styling for footer*/
footer {
    background-color: #FF5400;
    padding:5px;
    color: black;
    font-size: 14px;
}

/* styling for responsive website */
@media (max-width: 1024px) {  
    form {
        width:80%;
        margin: 30px;
        padding:30px;
    }

    .header-logo-only {
        align-items: center;
        padding-left: 0px;
    }
}

@media (max-height: 1024px) {  
    form {
        height: 700px;
        margin: 30px;
        padding:30px;
    }

    .header-logo-only {
        align-items: center;
        padding-left: 0px;
    }

    .form-field{
        margin-top:12px;
    }
}

@media (max-height: 700px) {  
    form {
        height: 500px;
        margin: 30px;
        padding:30px;
    }

    input{
        height: 10px;
    }

    #description {
        height: 50px;
    }

    .button{
        width: 100%;
        background: #00BFFF;
        border: none;
        border-radius: 3px;
        padding:12px;
        margin-top:20px;
        font-size: 15px;
    }

    .header-logo-only {
        align-items: center;
        padding-left: 0px;
    }
}